<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Blog</title>
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <link href="./dist/css/styles.css" rel="stylesheet" />
</head>

<body>
  <div id="blog">
    <!-- Header -->
    <header>
      {{ languageFilter }}
      <h1> {{ title }}</h1>
      <ul v-if="isIndex">
        <li v-for="(extension, name) in extensions" @click="applyLanguageFilter(extension.language)" :class="{active: languageFilter === extension.language}">{{ name }}</li>
      </ul>
    </header>

    <!-- Main -->
    <main>
      <h2>{{ post.description || page.description || 'Posts' }}</h2>

      <!-- Index -->
      <transition name="index">
        <div class="index" v-if="isIndex">
          <input type="text" class="search" v-model="search" placeholder="Buscar" />
          <transition-group name="list" tag="div">
            <div v-for="post in filteredPosts" :key="post.id" v-if="isIndex">
              <a @click="showPost($event, post)" :href="post.slug">{{ post.description }}</a>
            </div>
          </transition-group>
        </div>
      </transition>

      <!-- Post -->
      <transition name="post">
        <div class="post" v-if="isPost">
          <div class="tab-selector" v-for="file in post.files">
              {{ file.filename }}
          </div>
          <div class="tab" v-for="file in post.files">
            {{ file.content }}
          </div>
        </div>
      </transition>
    </main>

    <!-- Footer -->
    <footer>

    </footer>
  </div>
  <script src="./dist/js/blog.build.js"></script>
</body>

</html>